@media (max-width:1025px) {
    .header .nav .list-nav {
        gap: 0 1.5rem;
    }

    .header .nav .list-nav .link-nav a {
        font-size: 1.8rem;
    }

    .div-home {
        padding: 9rem 0 3rem;
    }

    .div-home .div-img-home .vital-honey {
        width: 80%;
        margin-left: 3rem;
    }

    .div-home .div-text-home .capition-description {
        font-size: 3rem;
    }

    .div-home .div-text-home .text-description {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .div-about {
        flex-direction: column;
    }

    .div-about .div-about-texts,
    .div-about .div-about-imgs {
        width: 100%;
    }

    .div-about .div-about-imgs {
        padding: 6.5rem 0 3rem;
    }

    .div-faq .list-quest {
        width: 60%;
    }

    .div-faq .list-quest li .quest {
        font-size: 1.8rem;
    }

    .div-buy .imgs-buy {
        width: 45%;
        justify-content: space-around;
        gap: 6rem;
    }

    .div-buy .imgs-buy .btn {
        width: 2.5rem;
    }

    .div-buy .div-info-buy .title {
        font-size: 3.5rem;
    }

    .div-buy .div-info-buy table {
        width: 80%;
        margin-left: 1.8rem;
    }

    .div-buy .div-info-buy .div-amount-buy select {
        width: 30%;
    }

    .div-buy .div-info-buy .div-amount-buy {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3rem;
    }

    .div-buy .div-info-buy .div-amount-buy .radio {
        margin-left: 2.3rem;
    }

    .div-footer {
        flex-direction: column;
    }

    .div-footer .text-footer .capition-footer {
        font-size: 3.5rem;
    }

    .div-footer .div-contact .list-contact .links-contact {
        padding: 2.5rem 3rem 1.5rem;
        font-size: 1.8rem;
    }
}

@media (max-width:769px) {
    body {
        overflow-x: hidden;
    }

    .div-home {
        flex-direction: column;
        padding: 8rem 0 4rem;
    }

    .div-home .div-img-home {
        width: 50%;
        padding: 4rem 0 0;
    }

    .div-home .div-text-home {
        max-width: 100%;
    }

    .div-home .div-text-home .capition-description {
        font-size: 3.7rem;
    }

    .div-about .div-about-imgs {
        padding: 7rem 3rem 5rem;
    }

    .div-about .div-about-imgs .container .list-itens {
        width: 50rem;
    }

    .div-about .div-about-imgs .container .list-itens .iten {
        text-align: center;
    }

    .div-about .div-about-imgs .container .list-itens .iten .info {
        font-size: 3rem;
    }

    .div-faq .list-quest {
        width: 70%;
    }

    .div-faq .list-quest li .quest {
        font-size: 1.4rem;
        padding: 1.2rem;
    }

    .div-buy {
        flex-direction: column;
    }

    .div-buy .imgs-buy {
        width: 70%;
        padding: 13rem 0;
        justify-content: space-between;
    }

    .div-buy .imgs-buy .btn {
        width: 3rem;
    }

    .div-buy .div-info-buy {
        max-width: 100%;
        margin: 8rem 4rem 0 5rem;
    }

    .div-buy .div-info-buy table {
        width: 70%;
    }

    .div-buy .div-info-buy .div-amount-buy select {
        width: 20%;
    }

    .div-buy .div-info-buy .div-amount-buy {
        flex-wrap: nowrap;
        gap: 0;
    }

    .div-buy .div-info-buy .div-amount-buy .radio #feminino {
        margin-left: 2rem;
    }

    .div-footer {
        padding: 4rem;
    }

    .div-footer .text-footer .capition-footer {
        font-size: 3rem;
    }

    .div-footer .div-contact .list-contact .links-contact {
        padding: 2rem 1.5rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width:430px) {
    .div-home .div-img-home {
        width: 60%;
    }

    .div-home .div-text-home {
        padding: 30px;
    }

    .div-home .div-text-home .capition-description {
        font-size: 3rem;
    }

    .div-home .div-text-home .text-description {
        width: 100%;
        margin-left: 0;
    }
    .div-about .div-about-texts {
        padding: 25px 0 40px;
    }
    
    .div-about .div-about-imgs {
        padding:3.5rem 1rem 2.5rem;
    }
    .div-about .div-about-imgs .container .list-itens {
        width: 30rem;
        padding: 16rem 0;
    }
    .div-about .div-about-imgs .btn {
        font-size: 2.5rem;
    }
    .div-about .div-about-imgs .container .list-itens .iten .img-iten {
        height: 18rem;
    }
    .div-about .div-about-imgs .container .list-itens .iten .info {
        font-size: 1.8rem;
    }
    .div-faq{
        padding: 40px 0 50px;
    }
    .div-faq .capition-faq{
        font-size: 28px;
    }
    .div-faq .list-quest {
        width: 85%;
    }
    .div-faq .list-quest li .see-more {
        top: 0;
        right: 1rem;
    }
    .div-buy {
        padding: 0 0 7rem;
    }
    .div-buy .div-info-buy {
        margin:0;
        padding-left: 2rem;
    }
    .div-buy .imgs-buy {
        width: 90%;
        padding: 13rem 0;
        justify-content: space-between;
    }

    .div-buy .imgs-buy .btn {
        width: 2rem;
    }
    .div-buy .div-info-buy .title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .div-buy .div-info-buy .div-amount-buy {
        flex-wrap: wrap;
        gap: 40px 0;
    }
    .div-buy .div-info-buy .div-amount-buy select {
        width: 50%;
    }
    
.div-buy .div-info-buy .btn-buy {
    margin: 50px auto;
}
    .div-footer{
        padding: 30px 20px;
    }
    .div-footer .div-contact .list-contact{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

}
@media (max-width:320px) {
    .div-buy .div-info-buy .div-amount-buy .radio,
    .div-buy .div-info-buy .btn-buy {
        font-size: 1.5rem;
    }
    .div-buy .div-info-buy .title,
    .div-footer .text-footer .capition-footer {
        font-size: 2.3rem;
    }
    .div-about .div-about-imgs .container .list-itens {
        width: 25rem;
    }
    .div-about .div-about-imgs .btn {
        font-size: 2rem;
    }
}